# ETL - SQL Server

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
server = "PC15NV40" # this is your computer name or remote IP address
database = "w3" # default database name

# connecting via Windows Authentication
connection_string = f"mssql+pyodbc://@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"

engine = create_engine(connection_string)

In [3]:
sql_query = """
SELECT * FROM orders o
join order_details od ON od.OrderID = o.OrderID
join products p ON p.ProductID = od.ProductID
join customers c ON c.CustomerID = o.CustomerID
"""

df = pd.read_sql(sql_query, engine)
df.head()

,OrderID,CustomerID,EmployeeID,OrderDate,ShipperID,OrderDetailID,OrderID,ProductID,Quantity,ProductID,...,CategoryID,Unit,Price,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,10248,90,5,1996-07-04,3,1,10248,11,12,11,...,4,1 kg pkg.,21.00,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
1,10248,90,5,1996-07-04,3,2,10248,42,10,42,...,5,32 - 1 kg pkgs.,14.00,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
2,10248,90,5,1996-07-04,3,3,10248,72,5,72,...,4,24 - 200 g pkgs.,34.80,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
3,10249,81,6,1996-07-05,1,4,10249,14,9,14,...,7,40 - 100 g pkgs.,23.25,81,Tradição Hipermercados,Anabela Domingues,"Av. Inês de Castro, 414",São Paulo,05634-030,Brazil
4,10249,81,6,1996-07-05,1,5,10249,51,40,51,...,7,50 - 300 g pkgs.,53.00,81,Tradição Hipermercados,Anabela Domingues,"Av. Inês de Castro, 414",São Paulo,05634-030,Brazil

In [4]:
df.shape

(503, 22)

In [5]:
df.columns

Index(['OrderID', 'CustomerID', 'EmployeeID', 'OrderDate', 'ShipperID',
       'OrderDetailID', 'OrderID', 'ProductID', 'Quantity', 'ProductID',
       'ProductName', 'SupplierID', 'CategoryID', 'Unit', 'Price',
       'CustomerID', 'CustomerName', 'ContactName', 'Address', 'City',
       'PostalCode', 'Country'],
      dtype='object')

In [6]:
df.columns.duplicated()

array([False, False, False, False, False, False,  True, False, False,
        True, False, False, False, False, False,  True, False, False,
       False, False, False, False])

## Dropping Redundant Columns

In [7]:
columns_to_remove = ["OrderID", "CustomerID", "EmployeeID",
                     "OrderDetailID", "ProductID", "SupplierID",
                     "CustomerName", "ContactName"]
df = df.drop(columns=columns_to_remove)
df.head()

,OrderDate,ShipperID,Quantity,ProductName,CategoryID,Unit,Price,Address,City,PostalCode,Country
0,1996-07-04,3,12,Queso Cabrales,4,1 kg pkg.,21.00,Keskuskatu 45,Helsinki,21240,Finland
1,1996-07-04,3,10,Singaporean Hokkien Fried Mee,5,32 - 1 kg pkgs.,14.00,Keskuskatu 45,Helsinki,21240,Finland
2,1996-07-04,3,5,Mozzarella di Giovanni,4,24 - 200 g pkgs.,34.80,Keskuskatu 45,Helsinki,21240,Finland
3,1996-07-05,1,9,Tofu,7,40 - 100 g pkgs.,23.25,"Av. Inês de Castro, 414",São Paulo,05634-030,Brazil
4,1996-07-05,1,40,Manjimup Dried Apples,7,50 - 300 g pkgs.,53.00,"Av. Inês de Castro, 414",São Paulo,05634-030,Brazil

## Removing Duplicated Columns

In [8]:
df.columns.duplicated().sum()

0

## Checking Data Types

In [9]:
df.dtypes

OrderDate       object
ShipperID        int64
Quantity         int64
ProductName     object
CategoryID       int64
Unit            object
Price          float64
Address         object
City            object
PostalCode      object
Country         object
dtype: object

In [10]:
df['OrderDate']= pd.to_datetime(df['OrderDate'])
df.dtypes

OrderDate      datetime64[ns]
ShipperID               int64
Quantity                int64
ProductName            object
CategoryID              int64
Unit                   object
Price                 float64
Address                object
City                   object
PostalCode             object
Country                object
dtype: object

## Save Data

In [11]:
df.to_csv("df.csv", index=False)

In [12]:
df.to_pickle("df.pickle")

In [13]:
df.to_parquet("df.parquet")